<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Show My Data</div>
        <hr/>
        <br/><br/>
    <label>Name : </label><l th:text="${nameofpacket}"></l><br/><br/>
    <label>Product : </label><l th:text="${priceofproduct}"></l><br/><br/>
    <label>Amount : </label><l th:text="${amountofproduct}"></l><br/><br/>
    <label>Discount : </label><l th:text="${discount}"></l><br/><br/>
    <label>Total Price : </label><l th:text="${totalprice}"></l><br/><br/>
    
    
    </body>
</html>
